{% extends 'base.html' %}

{% block content %}

{% if error %}
    <div class="error">{{error}}</div>
{% endif %}
<h1>Login</h1>

<form action="{% url 'login'%}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
{% endblock %}